# deploy private key (must have ETH to deploy)
DEPLOY_PRIVATE_KEY=

# token blocks
LIQUIDITY_WALLET=
TREASURY_WALLET=
ECOSYSTEM_WALLET=

# temporary wallet to tranfer tokens to vesting contract (must have ETH to transfer)
TEMP_VESTING_WALLET=

# token admin
ADMIN_WALLET=

# vesting block admin
VESTING_ADMIN=

# to initial transfer
TREASURY_PRIVATE_KEY=

# institutional vesting contract data
INSTITUTIONAL_VESTING_ADMIN=
INSTITUTIONAL_VESTING_OPERATOR=

# electoral credits dependencies
ELECTORAL_CREDITS_ADMIN=
# used to add institutional vesting
ELECTORAL_CREDITS_ADMIN_PK=
TVD_PER_CREDIT=
PLATFORM_WALLET=
INSTITUTIONAL_VESTING_ADDR=

# BackVoteManager dependencies
TVD_ELECTORAL_CREDITS=
VOTE_REWARD_CLAIM_VERIFIER=
TVD_TOKEN=