# deploy private key (must have ETH to deploy)
DEPLOY_PRIVATE_KEY=
# Main multisig temp wallet for deploy
ADMIN_WALLET=
ADMIN_PK=

# Final admin wallet
FINAL_ADMIN_WALLET=

# automated operator
OPERATOR_WALLET=

# token blocks
LIQUIDITY_WALLET=
TREASURY_WALLET=
ECOSYSTEM_WALLET=

# temporary wallet to tranfer tokens to vesting contract (must have ETH to transfer)
TEMP_VESTING_WALLET=
TEMP_VESTING_PRIVATE_KEY=

# token end block period
TOKEN_LOCKUP_END_TIMESTAMP=

# electoral credits dependencies
TVD_PER_CREDIT=
PLATFORM_WALLET=

# BackVoteManager dependencies
VOTE_MANAGER_AUTH_CALLER=
TVD_ELECTORAL_CREDITS=
TVD_TOKEN=

# Proxy contract to upgrade
BACK_VOTE_PROXY=
